
body{background-color: orange;
  }

h1 {color: white;
  font-size: 60px;
  font-style: normal;
  margin-bottom: 50px;
  }

  p {color: white;
    font-style: normal;
    margin-bottom: 48px;
    width:400px
    }
